html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #fff;
}

#background {
  background-color: 000;
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-size: cover;
  display: table;
  height: 100%;
  width: 100%;
}

#loginContainer * {
  color: #fff;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: normal;
  line-height: 1em;
  box-sizing: border-box;
}

#loginContainer {
  width: 80%;
  margin: 0 auto;
  position: relative;
  max-width: 1024px;
}

#inputContainer {
    width: 400px;
    padding: 45px;
    float: left;
    border-right: 1px solid #999;
}

#inputContainer h2 {
  text-align: center;
}

#inputContainer input[type="text"],
#inputContainer input[type="email"],
#inputContainer input[type="password"] {
  display: block;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #fff;
  height: 25px;
  line-height: 25px;
  width: 100%;
}

#inputContainer label {
  color: #a0a0a0;
  font-size: 13px;
  margin-top: 15px;
  display: block;
}

#inputContainer button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 500px;
  color: #fff;
  display: block;
  font-size: 15px;
  letter-spacing: 1px;
  margin: 20px auto;
  height: 40px;
  width: 100%;
}

#inputContainer button:hover {
  cursor: pointer;
}

.hasAccountText {
  text-align: center;
}


.hasAccountText span {
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

#registerForm,
#loginForm {
  display: none;
}

#loginText {
  padding: 45px;
  display: table-cell;
}

#loginText h1 {
  color: #07d159;
  font-size: 60px;
  font-weight: bold;
}

#loginText h2 {
  margin: 34px 0;
}

#loginText ul {
  padding: 0;
}

#loginText li {
  font-size: 18px;
  list-style-type: none;
  padding: 8px 33px;
  background: url("../images/icons/checkmark.png") no-repeat 0 0; /*prevent repeat and 0 0 is x and y value*/
}

#inputContainer .errorMessage {
  color: #83c964;
  font-size: 12px;
  display: block;
}
